In [1]:
#Import libraries 

import pandas as pd
from sqlalchemy import create_engine
# import json

In [2]:
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3

In [3]:
#Store Data in Dataframe

csv_loc = "Resources/bfro_report_locations.csv"
csv_geo = "Resources/bfro_reports_geocoded.csv"
json_file = "Resources/bfro_reports.json"

bigfoot_locations_df = pd.read_csv(csv_loc)
bigfoot_geo_df = pd.read_csv(csv_geo)
bfro_rep_df = pd.read_json(json_file, lines=True)

In [4]:
# Display location CSV DataFrame
bigfoot_locations_df.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

In [5]:
# Begin filtering data

bf_loc_cols = ["number", "classification", 'timestamp', 'latitude', 'longitude']
bf_loc_transformed = bigfoot_locations_df[bf_loc_cols].copy()

# Drop null values on 'number'
bf_loc_transformed = bf_loc_transformed[bf_loc_transformed['number'].notna()]

bf_loc_transformed.head()

   number classification             timestamp  latitude  longitude
0     637        Class A  2000-06-16T12:00:00Z   61.5000  -142.9000
1    2917        Class A  1995-05-15T12:00:00Z   55.1872  -132.7982
2    7963        Class A  2004-02-09T12:00:00Z   55.2035  -132.8202
3    9317        Class A  2004-06-18T12:00:00Z   62.9375  -141.5667
4   13038        Class A  2004-02-15T12:00:00Z   61.0595  -149.7853

In [6]:
bf_loc_transformed.count()

number            3994
classification    3994
timestamp         3994
latitude          3994
longitude         3994
dtype: int64

In [7]:
bigfoot_geo_df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,"the road is off us rt 80, i dont know the exit...",Warren County,New Jersey,Fall,NaN,NaN,NaN,NaN,438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,2016-06-07,55269.0,...,0.10,0.001,0.7,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
3,I was northeast of Macy Nebraska along the Mis...,Latitude & Longitude : 42.158230 -96.344197,Thurston County,Nebraska,Spring,Report 59757: Possible daylight sighting of a ...,42.15685,-96.34203,2018-05-25,59757.0,...,0.38,0.000,0.0,NaN,1008.07,Partly cloudy in the morning.,10.0,8.25,193.0,3.33
4,"While this incident occurred a long time ago, ...","Ward County, Just outside of a the Minuteman T...",Ward County,North Dakota,Spring,Report 751: Hunter describes described being s...,48.25422,-101.31660,2000-04-21,751.0,...,0.60,NaN,NaN,rain,1011.47,Partly cloudy until evening.,6.0,10.00,237.0,11.14

In [8]:
bigfoot_geo_df.count()

observed              4711
location_details      4009
county                4747
state                 4747
season                4747
title                 3797
latitude              3797
longitude             3797
date                  3797
number                4747
classification        4747
geohash               3797
temperature_high      3098
temperature_mid       2950
temperature_low       2953
dew_point             3133
humidity              3133
cloud_cover           2853
moon_phase            3156
precip_intensity      2493
precip_probability    2493
precip_type           1560
pressure              2411
summary               3156
uv_index              3156
visibility            2817
wind_bearing          3147
wind_speed            3149
dtype: int64

In [9]:
# Begin filtering data
bf_geo_cols = ['observed', 'county', 'state', 'latitude', 'longitude', 'date','number', 'classification']
bf_geo_transformed = bigfoot_geo_df[bf_geo_cols].copy()

# Drop null values on 'number'
bf_geo_transformed = bf_geo_transformed[bf_geo_transformed['number'].notna()]

bf_geo_transformed.head()

,observed,county,state,latitude,longitude,date,number,classification
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A

In [10]:
bfro_rep_df.head()

,YEAR,SEASON,STATE,COUNTY,LOCATION_DETAILS,OBSERVED,OTHER_WITNESSES,TIME_AND_CONDITIONS,REPORT_NUMBER,REPORT_CLASS,MONTH,DATE,NEAREST_TOWN,NEAREST_ROAD,ALSO_NOTICED,OTHER_STORIES,ENVIRONMENT,A_&_G_References
0,Early 1990's,Fall,Alaska,Valdez-Chitina-Whittier County,East side of Prince William Sound,Ed L. was salmon fishing with a companion in P...,On a commercial fishing boat at anchor at the ...,"Early Fall, in the early 1990's.",1261.0,Class A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Fall,New Jersey,Warren County,"the road is off us rt 80, i dont know the exit...",heh i kinda feel a little dumb that im reporti...,"my friend was asleep, and i was lying next to ...",lighting was from a camp fire that was dieing ...,438.0,Class B,September,2nd or 3rd,Allumuchy,not sure of the road,nothing,no but after the events stated i looked at you...,"good size river, steep hills, very rugged area...",NaN
3,2016,Summer,New Hampshire,Sullivan County,Close to Claremont down 120 not far from Kings...,I was on my way to Claremont from Lebanon on R...,Just myself,5am. Dawn. Clear weather,55269.0,Class A,June,7,Claremont,Rte 120,NaN,NaN,swamp with forest behind it. There was a large...,NaN
4,2018,Spring,Nebraska,Thurston County,Latitude & Longitude : 42.158230 -96.344197,I was northeast of Macy Nebraska along the Mis...,2 witnesses saw the creature. 3 people were pr...,1:35 pm on a clear and very hot sunny day. Tem...,59757.0,Class B,May,25,Macy,Highway 201,I had audio recorders set up in the area and r...,There are MANY encounters in this general area...,This is a heavily forested area bordering the ...,NaN

In [11]:
# Begin filtering json data
bf_reports_cols = ['OBSERVED', 'COUNTY', 'STATE', 'REPORT_NUMBER', 'REPORT_CLASS']
bf_reports_transformed = bfro_rep_df[bf_reports_cols].copy()

# Rename column headers
bf_reports_transformed = bf_reports_transformed.rename(columns={"OBSERVED": 'observed',
                                                               'COUNTY': 'county',
                                                               'STATE': 'state',
                                                               'REPORT_NUMBER': 'number',
                                                               'REPORT_CLASS': 'classification'})

# Drop null values on 'number'
bf_reports_transformed = bf_reports_transformed[bf_reports_transformed['number'].notna()]

bf_reports_transformed.head()

,observed,county,state,number,classification
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,1261.0,Class A
2,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,438.0,Class B
3,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,55269.0,Class A
4,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,59757.0,Class B
5,"While this incident occurred a long time ago, ...",Ward County,North Dakota,751.0,Class A

In [12]:
bf_reports_transformed.count()

observed          4711
county            4747
state             4747
number            4747
classification    4747
dtype: int64

In [18]:
# Merge bf_geo_transformed and bf_reports_transformed DataFrames
bf_merge = pd.merge(bf_geo_transformed, bf_reports_transformed, on='number', how='outer', suffixes=("_geocoded", "_reports"))
bf_merge

,observed_geocoded,county_geocoded,state_geocoded,latitude,longitude,date,number,classification_geocoded,observed_reports,county_reports,state_reports,classification_reports
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,Class A
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,Class B
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,Class A
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,Class B
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,"While this incident occurred a long time ago, ...",Ward County,North Dakota,Class A
...,...,...,...,...,...,...,...,...,...,...,...,...
4742,My cousin and I were camping way out in the wo...,Brown County,Indiana,NaN,NaN,NaN,2460.0,Class B,My cousin and I were camping way out in the wo...,Brown County,Indiana,Class B
4743,While backpacking near the horse trails and ac...,Brown County,Indiana,NaN,NaN,NaN,2461.0,Class A,While backpacking near the horse trails and ac...,Brown County,Indiana,Class A
4744,My wife and I were camping At Yellowood State ...,Brown County,Indiana,39.17909,-86.33560,2015-08-08,49480.0,Class B,My wife and I were camping At Yellowood State ...,Brown County,Indiana,Class B
4745,My wife and I were driving to Indianapolis to ...,Boone County,Indiana,NaN,NaN,NaN,2459.0,Class A,My wife and I were driving to Indianapolis to ...,Boone County,Indiana,Class A
4746,It was about 7:00 PM in September. It was stil...,Blackford County,Indiana,NaN,NaN,NaN,2458.0,Class B,It was about 7:00 PM in September. It was stil...,Blackford County,Indiana,Class B

In [20]:
# check to see if values from separate datasets match
# checking observation
bf_merge[bf_merge['observed_geocoded']!=bf_merge['observed_reports']]

,observed_geocoded,county_geocoded,state_geocoded,latitude,longitude,date,number,classification_geocoded,observed_reports,county_reports,state_reports,classification_reports
191,NaN,Oscoda County,Michigan,44.68000,-84.01165,2013-03-12,40106.0,Class B,NaN,Oscoda County,Michigan,Class B
261,NaN,Midland County,Michigan,43.79834,-84.21140,1972-11-15,2830.0,Class A,NaN,Midland County,Michigan,Class A
268,NaN,Ingham County,Michigan,42.75195,-81.52805,2015-04-01,49621.0,Class B,NaN,Ingham County,Michigan,Class B
293,NaN,Dickinson County,Michigan,46.01398,-87.98718,1965-07-01,20002.0,Class A,NaN,Dickinson County,Michigan,Class A
395,NaN,Itasca County,Minnesota,47.52522,-93.25262,1970-11-01,28711.0,Class A,NaN,Itasca County,Minnesota,Class A
480,NaN,Pulaski County,Missouri,37.79250,-92.05000,2017-07-08,62393.0,Class A,NaN,Pulaski County,Missouri,Class A
555,NaN,Marshall County,Mississippi,NaN,NaN,NaN,27167.0,Class A,NaN,Marshall County,Mississippi,Class A
907,NaN,Putnam County,New York,41.38084,-73.91649,2004-09-20,15144.0,Class B,NaN,Putnam County,New York,Class B
913,NaN,Steuben County,New York,42.28045,-77.60525,1980-04-21,13662.0,Class A,NaN,Steuben County,New York,Class A
1009,NaN,Stark County,Ohio,40.75872,-81.19895,1992-01-15,5030.0,Class A,NaN,Stark County,Ohio,Class A
1053,NaN,Morrow County,Ohio,40.38609,-82.69884,1977-06-01,1625.0,Class A,NaN,Morrow County,Ohio,Class A
1154,NaN,Guernsey County,Ohio,40.10801,-81.56232,2003-05-15,24141.0,Class A,NaN,Guernsey County,Ohio,Class A
1308,NaN,Le Flore County,Oklahoma,34.84167,-94.63111,2001-03-20,1966.0,Class B,NaN,Le Flore County,Oklahoma,Class B
1632,NaN,Clearfield County,Pennsylvania,41.01865,-78.37700,1921-01-14,14358.0,Class A,None,Clearfield County,Pennsylvania,Class A
1656,NaN,Jefferson County,Pennsylvania,NaN,NaN,NaN,44350.0,Class B,NaN,Jefferson County,Pennsylvania,Class B
1768,NaN,Monroe County,Tennessee,35.25970,-84.28315,2000-08-03,3008.0,Class A,NaN,Monroe County,Tennessee,Class A
2079,NaN,Summit County,Utah,40.82500,-110.82500,2001-06-13,18056.0,Class B,NaN,Summit County,Utah,Class B
2279,NaN,Pierce County,Washington,47.18556,-122.29170,1974-06-27,10653.0,Class A,NaN,Pierce County,Washington,Class A
2417,NaN,Snohomish County,Washington,48.09853,-121.81350,1989-06-01,44368.0,Class A,NaN,Snohomish County,Washington,Class A
3122,NaN,Valley County,Idaho,44.66862,-116.11550,2018-11-21,62182.0,Class A,NaN,Valley County,Idaho,Class A
3134,NaN,Talladega County,Alabama,33.36305,-86.17122,1999-11-23,25238.0,Class A,NaN,Talladega County,Alabama,Class A
3164,NaN,Lowndes County,Alabama,32.18400,-86.58100,2001-04-13,24646.0,Class A,NaN,Lowndes County,Alabama,Class A
3474,NaN,Santa Barbara County,California,34.73389,-119.92540,1982-04-15,25444.0,Class A,NaN,Santa Barbara County,California,Class A
3500,NaN,Mono County,California,38.29165,-119.54000,1980-08-01,13613.0,Class B,NaN,Mono County,California,Class B
3579,NaN,Shasta County,California,40.79740,-122.27800,2001-03-15,11986.0,Class A,NaN,Shasta County,California,Class A
3680,NaN,El Dorado County,California,38.93333,-119.98330,1996-04-10,919.0,Class A,NaN,El Dorado County,California,Class A
3727,NaN,Humboldt County,California,40.85000,-123.55000,1988-10-15,11576.0,Class A,NaN,Humboldt County,California,Class A
3812,NaN,Larimer County,Colorado,NaN,NaN,NaN,57114.0,Class B,NaN,Larimer County,Colorado,Class B
4074,NaN,Hernando County,Florida,28.57160,-82.52655,2004-02-17,6708.0,Class A,NaN,Hernando County,Florida,Class A
4137,NaN,Wayne County,Georgia,31.46641,-81.64665,2008-11-23,27072.0,Class A,NaN,Wayne County,Georgia,Class A
4145,NaN,White County,Georgia,NaN,NaN,NaN,22852.0,Class B,NaN,White County,Georgia,Class B
4240,NaN,Paulding County,Georgia,33.81283,-84.80283,2006-07-05,14887.0,Class B,NaN,Paulding County,Georgia,Class B
4268,NaN,Jasper County,Georgia,33.46372,-83.61285,1986-06-15,33115.0,Class A,NaN,Jasper County,Georgia,Class A
4399,NaN,Cassia County,Idaho,NaN,NaN,NaN,3629.0,Class A,NaN,Cassia County,Idaho,Class A
4421,NaN,Bonner County,Idaho,48.33000,-116.71000,2008-08-19,24693.0,Class B,NaN,Bonner County,Idaho,Class B
4684,NaN,Warrick County,Indiana,38.01000,-87.32030,1937-08-16,14336.0,Class A,None,Warrick County,Indiana,Class A

In [14]:
# Final merge with bf_loc_transformed into DataFrame and drop na
final_bf_merge = pd.merge(bf_merge, bf_loc_transformed, on='number', how='outer', suffixes=("_reports", "_location"))

final_bf_merge

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,observed_reports,county_reports,state_reports,classification_reports,classification,timestamp,latitude_location,longitude_location
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,Class A,Class A,2016-06-07T12:00:00Z,43.41549,-72.33093
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,Class B,Class B,2018-05-25T12:00:00Z,42.15685,-96.34203
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,"While this incident occurred a long time ago, ...",Ward County,North Dakota,Class A,Class A,2000-04-21T12:00:00Z,48.25422,-101.31660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,NaN,NaN,Class B,2017-10-30T12:00:00Z,42.36689,-73.18228
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,NaN,NaN,Class B,2004-07-01T12:00:00Z,38.49710,-90.72120
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN,NaN,Class C,1996-04-15T12:00:00Z,33.94175,-86.17965
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,NaN,NaN,Class C,2004-09-15T12:00:00Z,28.21492,-82.45240
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,NaN,NaN,Class C,1986-04-15T12:00:00Z,33.49960,-84.54220

In [15]:
# Split timestamp column into date and time column
final_bf_merge[['Date_loc','Time']] = final_bf_merge.timestamp.str.split("T",expand=True)
final_bf_merge = final_bf_merge.drop(['timestamp', 'Time'], axis=1)
final_bf_merge

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,observed_reports,county_reports,state_reports,classification_reports,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,Class A,Class A,43.41549,-72.33093,2016-06-07
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,Class B,Class B,42.15685,-96.34203,2018-05-25
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,"While this incident occurred a long time ago, ...",Ward County,North Dakota,Class A,Class A,48.25422,-101.31660,2000-04-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [16]:
# check to see if values from separate datasets match
# checking date
final_bf_merge[final_bf_merge['date']!=final_bf_merge['Date_loc']]
# not dropping either date column because the values differ

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,observed_reports,county_reports,state_reports,classification_reports,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,Class B,NaN,NaN,NaN,NaN
9,I was bowhunting and just sitting in my stand ...,Washington County,Minnesota,NaN,NaN,NaN,1081.0,Class A,I was bowhunting and just sitting in my stand ...,Washington County,Minnesota,Class A,NaN,NaN,NaN,NaN
11,In the spring of 1974 my girlfriend and I were...,York County,Maine,NaN,NaN,NaN,883.0,Class B,In the spring of 1974 my girlfriend and I were...,York County,Maine,Class B,NaN,NaN,NaN,NaN
12,In September of 1997 while traveling north on ...,Worcester County,Maryland,NaN,NaN,NaN,8135.0,Class A,In September of 1997 while traveling north on ...,Worcester County,Maryland,Class A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [21]:
# check to see if values from separate datasets match
# checking observed
final_bf_merge[final_bf_merge['observed_geocoded']!=final_bf_merge['observed_reports']]

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,observed_reports,county_reports,state_reports,classification_reports,classification,latitude_location,longitude_location,Date_loc
191,NaN,Oscoda County,Michigan,44.68000,-84.01165,2013-03-12,40106.0,Class B,NaN,Oscoda County,Michigan,Class B,Class B,44.68000,-84.01165,2013-03-12
261,NaN,Midland County,Michigan,43.79834,-84.21140,1972-11-15,2830.0,Class A,NaN,Midland County,Michigan,Class A,Class A,43.79834,-84.21140,1972-11-15
268,NaN,Ingham County,Michigan,42.75195,-81.52805,2015-04-01,49621.0,Class B,NaN,Ingham County,Michigan,Class B,Class B,42.75195,-81.52805,2015-04-01
293,NaN,Dickinson County,Michigan,46.01398,-87.98718,1965-07-01,20002.0,Class A,NaN,Dickinson County,Michigan,Class A,Class A,46.01398,-87.98718,1965-07-01
395,NaN,Itasca County,Minnesota,47.52522,-93.25262,1970-11-01,28711.0,Class A,NaN,Itasca County,Minnesota,Class A,Class A,47.52522,-93.25262,1970-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [22]:
# dropping observed column, because values match
final_bf_merge = final_bf_merge.drop(['observed_reports'], axis=1)
final_bf_merge

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,county_reports,state_reports,classification_reports,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Valdez-Chitina-Whittier County,Alaska,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,Warren County,New Jersey,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,Sullivan County,New Hampshire,Class A,Class A,43.41549,-72.33093,2016-06-07
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,Thurston County,Nebraska,Class B,Class B,42.15685,-96.34203,2018-05-25
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,Ward County,North Dakota,Class A,Class A,48.25422,-101.31660,2000-04-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [23]:
# check to see if values from separate datasets match
# checking county
final_bf_merge[final_bf_merge['county_geocoded']!=final_bf_merge['county_reports']]

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,county_reports,state_reports,classification_reports,classification,latitude_location,longitude_location,Date_loc
4747,NaN,NaN,NaN,NaN,NaN,NaN,211.0,NaN,NaN,NaN,NaN,Class A,50.40230,-114.44190,1995-11-18
4748,NaN,NaN,NaN,NaN,NaN,NaN,9876.0,NaN,NaN,NaN,NaN,Class A,50.08650,-114.23470,2003-11-15
4749,NaN,NaN,NaN,NaN,NaN,NaN,10775.0,NaN,NaN,NaN,NaN,Class A,55.26332,-114.39570,1976-02-12
4750,NaN,NaN,NaN,NaN,NaN,NaN,12001.0,NaN,NaN,NaN,NaN,Class A,53.62819,-114.13970,2005-04-15
4751,NaN,NaN,NaN,NaN,NaN,NaN,12647.0,NaN,NaN,NaN,NaN,Class A,52.51666,-115.87420,1998-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [24]:
# dropping county column, because values match
final_bf_merge = final_bf_merge.drop(['county_reports'], axis=1)
final_bf_merge

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,state_reports,classification_reports,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Alaska,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,New Jersey,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,New Hampshire,Class A,Class A,43.41549,-72.33093,2016-06-07
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,Nebraska,Class B,Class B,42.15685,-96.34203,2018-05-25
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,North Dakota,Class A,Class A,48.25422,-101.31660,2000-04-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [25]:
# check to see if values from separate datasets match
# checking state
final_bf_merge[final_bf_merge['state_geocoded']!=final_bf_merge['state_reports']]

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,state_reports,classification_reports,classification,latitude_location,longitude_location,Date_loc
4747,NaN,NaN,NaN,NaN,NaN,NaN,211.0,NaN,NaN,NaN,Class A,50.40230,-114.44190,1995-11-18
4748,NaN,NaN,NaN,NaN,NaN,NaN,9876.0,NaN,NaN,NaN,Class A,50.08650,-114.23470,2003-11-15
4749,NaN,NaN,NaN,NaN,NaN,NaN,10775.0,NaN,NaN,NaN,Class A,55.26332,-114.39570,1976-02-12
4750,NaN,NaN,NaN,NaN,NaN,NaN,12001.0,NaN,NaN,NaN,Class A,53.62819,-114.13970,2005-04-15
4751,NaN,NaN,NaN,NaN,NaN,NaN,12647.0,NaN,NaN,NaN,Class A,52.51666,-115.87420,1998-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [26]:
# dropping observed column, because values match
final_bf_merge = final_bf_merge.drop(['state_reports'], axis=1)
final_bf_merge

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,classification_reports,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,Class A,Class A,43.41549,-72.33093,2016-06-07
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,Class B,Class B,42.15685,-96.34203,2018-05-25
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,Class A,Class A,48.25422,-101.31660,2000-04-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [27]:
# check to see if values from separate datasets match
# checking latitude
final_bf_merge[final_bf_merge['latitude_reports']!=final_bf_merge['latitude_location']]

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,classification_reports,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,Class A,Class A,43.41549,-72.33093,2016-06-07
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,Class A,Class A,48.25422,-101.31660,2000-04-21
8,"i want to start this off by saying, I don't kn...",Wright County,Missouri,37.46041,-92.63587,2018-04-14,59307.0,Class B,Class B,Class B,37.46041,-92.63587,2018-04-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [28]:
# check to see if values from separate datasets match
# checking longitude
final_bf_merge[final_bf_merge['longitude_reports']!=final_bf_merge['longitude_location']]

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,classification_reports,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,Class A,Class A,43.41549,-72.33093,2016-06-07
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,Class B,Class B,42.15685,-96.34203,2018-05-25
9,I was bowhunting and just sitting in my stand ...,Washington County,Minnesota,NaN,NaN,NaN,1081.0,Class A,Class A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [29]:
# check to see if values from separate datasets match
# checking classification
final_bf_merge[final_bf_merge['classification_geocoded']!=final_bf_merge['classification_reports']]

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,classification_reports,classification,latitude_location,longitude_location,Date_loc
4747,NaN,NaN,NaN,NaN,NaN,NaN,211.0,NaN,NaN,Class A,50.40230,-114.44190,1995-11-18
4748,NaN,NaN,NaN,NaN,NaN,NaN,9876.0,NaN,NaN,Class A,50.08650,-114.23470,2003-11-15
4749,NaN,NaN,NaN,NaN,NaN,NaN,10775.0,NaN,NaN,Class A,55.26332,-114.39570,1976-02-12
4750,NaN,NaN,NaN,NaN,NaN,NaN,12001.0,NaN,NaN,Class A,53.62819,-114.13970,2005-04-15
4751,NaN,NaN,NaN,NaN,NaN,NaN,12647.0,NaN,NaN,Class A,52.51666,-115.87420,1998-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,NaN,Class C,33.49960,-84.54220,1986-04-15

In [30]:
# dropping classification_reports column, because values match
final_bf_merge = final_bf_merge.drop(['classification_reports'], axis=1)
final_bf_merge

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,Class A,43.41549,-72.33093,2016-06-07
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,Class B,42.15685,-96.34203,2018-05-25
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,Class A,48.25422,-101.31660,2000-04-21
...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,Class C,33.49960,-84.54220,1986-04-15

In [31]:
# check to see if values from separate datasets match
# checking classification
final_bf_merge[final_bf_merge['classification_geocoded']!=final_bf_merge['classification']]

,observed_geocoded,county_geocoded,state_geocoded,latitude_reports,longitude_reports,date,number,classification_geocoded,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,NaN,NaN,NaN,NaN
9,I was bowhunting and just sitting in my stand ...,Washington County,Minnesota,NaN,NaN,NaN,1081.0,Class A,NaN,NaN,NaN,NaN
11,In the spring of 1974 my girlfriend and I were...,York County,Maine,NaN,NaN,NaN,883.0,Class B,NaN,NaN,NaN,NaN
12,In September of 1997 while traveling north on ...,Worcester County,Maryland,NaN,NaN,NaN,8135.0,Class A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,Class C,33.49960,-84.54220,1986-04-15

In [32]:
# Rename column headers
final_bf_merge = final_bf_merge.rename(columns={"observed_geocoded": 'observed',
                                                'county_geocoded': 'county',
                                                'state_geocoded': 'state',
                                                'date': 'date_geo',
                                               })
final_bf_merge

,observed,county,state,latitude_reports,longitude_reports,date_geo,number,classification_geocoded,classification,latitude_location,longitude_location,Date_loc
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,Class A,43.41549,-72.33093,2016-06-07
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,Class B,42.15685,-96.34203,2018-05-25
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,Class A,48.25422,-101.31660,2000-04-21
...,...,...,...,...,...,...,...,...,...,...,...,...
4929,NaN,NaN,NaN,NaN,NaN,NaN,58445.0,NaN,Class B,42.36689,-73.18228,2017-10-30
4930,NaN,NaN,NaN,NaN,NaN,NaN,10445.0,NaN,Class B,38.49710,-90.72120,2004-07-01
4931,NaN,NaN,NaN,NaN,NaN,NaN,483.0,NaN,Class C,33.94175,-86.17965,1996-04-15
4932,NaN,NaN,NaN,NaN,NaN,NaN,25381.0,NaN,Class C,28.21492,-82.45240,2004-09-15
4933,NaN,NaN,NaN,NaN,NaN,NaN,444.0,NaN,Class C,33.49960,-84.54220,1986-04-15

In [ ]:
# List of columns from dataframes

bigfoot_locations_df.head()
list_loc=[]
for col in bigfoot_locations_df.columns: 
    list_loc.append(col)

In [ ]:
# Bigfoot_geo_df.head()
list_geo=[]
for col in bigfoot_geo_df.columns: 
    list_geo.append(col)

In [ ]:
inter=intersection(list_geo, list_loc)

In [ ]:
bf_geo=bigfoot_geo_df[inter]
bf_geo=bf_geo[['number','title','classification','latitude','longitude']]

#final=pd.concat([ye,bigfoot_locations_df])

In [ ]:
#bfro_rep_df.head()

geo_nums=bf_geo_transformed['number'].tolist()
loc_nums=bigfoot_locations_df['number'].tolist()
intr_nums=intersection(geo_nums,loc_nums)
print(len(geo_nums))
print(len(loc_nums))
print(len(intr_nums))

In [ ]:
# sanity check
for loc in loc_nums:
    if loc not in geo_nums:
        print(loc)

In [ ]:
# another sanity check
report_nums = bf_reports_transformed['number'].tolist()
inter_nums = intersection(report_nums,geo_nums) 
print(len(inter_nums))

Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/bigfoot_db"
engine = create_engine(f'postgresql://{connection_string}')